<div class="box">
  <a href="{{- .Permalink | relURL -}}">
    <div class="columns">
      
      {{- if .Params.listImage -}}
      <div class="column is-2">

        <!-- Render list summary image -->
        <img src="{{- .Params.listImage -}}" alt="summary image" max-height="180px" />

        {{- else }}
        <!-- nothing here -->
        {{- end -}}

        <!-- This used to be a read more button, but now the entire box is clickable -->
        <!-- <a href="{{- .Permalink | relURL -}}" class="button is-primary">
                    {{ i18n "readMore" }}
                </a> -->
      </div>
      {{- else }}
      <!-- nothing here -->
      {{- end -}}

      <div class="column is-9">
        <!-- <a href="{{- .Permalink | relURL -}}"> -->
        <h3 class="title is-5 refresh-summary-title">
          {{ .Params.title }} </h3>
        <!-- </a> -->
        <h4 class="title is-6 refresh-summary-subtitle">
          {{- if .Params.subtitle -}}
          {{- .Params.subtitle | markdownify -}}
          {{- else }}
          <!-- nothing here -->
          {{- end -}}
        </h4>
        <h5 class="title is-7 refresh-summary-subtitle">
          <time datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00" }}"></time>{{ .Date.Format "02 Jan 2006"
          }}</time>
        </h5>

        <!-- Render text summary -->
        <p class="refresh-summary">
          {{- if .Params.summary -}}
          {{- .Params.summary | markdownify -}}
          {{- else }}
          {{- .Plain | markdownify -}}
          {{- end -}}
        </p>
      </div>

    </div>
  </a>
</div>