
  <div class="column is-12">

    <div class="box">
      
      <a href="{{- .Permalink | relURL -}}"><h3 class="title is-5 refresh-summary-title">
        {{ .Params.title }}  </h3></a>
        <h4 class="title is-6 refresh-summary-subtitle"><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}"></time>{{ .Date.Format "02 Jan 2006" }}</time>
        </h4>
      <p class="refresh-summary">
        {{- if .Params.summary -}}
          {{- .Params.summary -}}
        {{- else }}
          {{- .Plain -}}
        {{- end -}}
      </p> 
      <div class="action has-text-right">
        <a href="{{- .Permalink | relURL -}}" class="button is-primary">
                {{ i18n "readMore" }}
            </a>
      </div>
    </div>
  </div>
